body {
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
 
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
  width:70%;
  margin:auto
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  overflow-y: auto;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  width:70%;
  margin:auto
  
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,   
.suggestions li:hover,li:focus {
  background-color: #e20078;
  color: #ffff;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}